<div class="example-container">
  <div class="form-container">
    <h2>Cadastrar Cidade/UF</h2>
  <form class="example-form" [formGroup]="formCidade" (ngSubmit)="createCidade()">
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Cidade</mat-label>
    <input matInput formControlName="descricao_cidade" placeholder="Ex. São Paulo">
  </mat-form-field>

  <!--Select Estados-->
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Estado</mat-label>
      <mat-select formControlName= "selectFormControlDesc" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let uf of ufs" [value]="uf">
        {{uf.descricao}}
        </mat-option>
      </mat-select>
    <mat-error *ngIf="formCidade.get('selectFormControlDesc').touched && formCidade.get('selectFormControlDesc').errors?.required">Selecione o Estado</mat-error>
  </mat-form-field>

  <button [disabled]="formCidade.status != 'VALID'" mat-raised-button color="primary">Salvar</button>

  <p>Status: {{formCidade.status}}</p>

</form>
  </div>
</div>