<app-main-nav>
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Cidades</mat-card-title>
          <mat-card-subtitle>Listando Cidades</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
         <!--Set Table Here-->
         <mat-form-field>
            <mat-label>Pesquisa</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Jose" #input>
          </mat-form-field>
          
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
          <title>TESTES</title>
              
              <!-- Cidade & UF Column -->
              <ng-container matColumnDef="cidade_uf">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cidade/UF </th>
                <td mat-cell *matCellDef="let row"> {{row.descricao_cidade}} / {{row.uf.descricao_uf}} </td>

              </ng-container>
                <!-- Editar Column-->
                <ng-container matColumnDef="editar">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Editar </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
                    </td>
  
                </ng-container>
                  <!-- Excluir Column -->
              <ng-container matColumnDef="excluir">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Excluir </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                  </td>
               </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Pesquisa invalida!!! Verifique o campo:  "{{input.value}}"</td>
              </tr>
            </table>
          
           <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>  
         
        </mat-card-content>
        <mat-card-actions>
          <div class="example-button-container">
            <button mat-fab color="primary" (click)="openDialogAddCidade()" aria-label="Example icon button with a delete icon">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
     
</app-main-nav>